@page "/moditems/consumables/{ModId}"
@page "/moditems/consumables"
@using ModForge.Shared.Models.Enums

@if (!isLoaded)
{
	<div class="loading-screen" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
		<LoadingOverlay IsVisible="!isLoaded" />
	</div>
}

<MudGrid Style="height: 100vh; margin: 0px;" Spacing="0">
	<MudItem md="9" Style="height: 100%; padding: 0px;">
		<MudGrid Spacing="2">
			@if (consumables is not null)
			{
				<MudItem md="12" lg="12" Class="pl-4" Style="height: 100%;">
					<MudDataGrid RowClassFunc="SelectRowClass" RowStyle="cursor: pointer;" Dense RowContextMenuClick="@((rightClick ? OpenMenuContent : null)!)" QuickFilter="ModItemSearch" Class="dialog-card" Items="@consumables" Virtualize FixedHeader Height="calc(100vh - 73px)" Style="border-radius: 8px;" T="Shared.Models.Abstractions.IModItem" SelectOnRowClick SelectedItemChanged="SelectModItem" Filterable>
						<ToolBarContent>
							<MudText Class="header-primary pr-2" Typo="Typo.h4"><b>@(L[MessageKeys.Consumables].Value)</b></MudText>
							<MudSpacer />
							<MudTextField @bind-Value="SearchText" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
										  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
							@if (string.IsNullOrEmpty(ModService.Mod.Id) == false)
							{
								<MudImage Class="pl-4" Src="@(ModService.Mod.ModItems.Count > 0 ? "/images/Icons/forgeicon2.png" : ModService.Mod.StormRules.Count > 0 ? "/images/Icons/forgeicon2.png" : "/images/Icons/forgeicon.png")" Height="48" Style="cursor: pointer;" onclick="@(() => ToggleDrawer())" />
							}
						</ToolBarContent>
						<Columns>
							<PropertyColumn CellStyle="line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 400px; width: 400px" Property="x => GetName(x)" Title="Name" />
							<PropertyColumn Property="@(x => GetAttributeAsString(x, "weight"))" Title="Weight" />
							<PropertyColumn Property="@(x => GetAttributeAsDouble(x, "price"))" Title="Price" />
						</Columns>
					</MudDataGrid>
				</MudItem>
			}
		</MudGrid>
	</MudItem>
	<MudItem xs="3" Style="height: 99vh; padding: 0px;" Class="px-2">
		<ModItemDetailsView SelectedModItem="@SelectedModItem" ConsoleCommand="@(SelectedModItem is null ? string.Empty : $"wh_cheat_addItem {SelectedModItem.Id}")" />
	</MudItem>
</MudGrid>
<MudMenu @ref="contextMenu" Icon="@Icons.Material.Filled.MoreVert" Variant="Variant.Text" Class="pa-0" PositionAtCursor id="contextMenu">
	@if (string.IsNullOrEmpty(ModService.Mod.Id) == false)
	{
		<MudMenuItem Label="@(L[MessageKeys.Edit].Value)" OnClick="@(() => NavigateToModItem(contextRow))" />
		<MudMenuItem Label="@(L[MessageKeys.Duplicate].Value)" OnClick="@(() => DuplicateModItem(contextRow))" />
	}
	<MudMenuItem Label="@(L[MessageKeys.CopyId].Value)" OnClick="@(() => CopyTextToClipboard(contextRow.Id))" />
	<MudMenuItem Label="@(L[MessageKeys.CopyCommand].Value)" OnClick="@(() => CopyTextToClipboard($"wh_cheat_addItem {contextRow.Id}"))" />
</MudMenu>

<ModItemsDrawer IsOpen="isOpen" />