@page "/craftingmaterials/{ModId}"
@page "/craftingmaterials"
@layout EditingLayout
@using ModForge.Shared.Models.Enums

@if (!_isLoaded)
{
	<div class="loading-screen" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
		<LoadingOverlay IsVisible="!_isLoaded" />
	</div>
}

<MudGrid Style="height: 100vh; margin: 0px;" Spacing="0">

	<MudItem md="12" Style="height: 10%; width: 100%;">
		<MudStack Justify="Justify.SpaceBetween" Row Style="height: 100%; width: 100%;" AlignItems="AlignItems.Center">
			<MudText Class="header-primary pr-2" Typo="Typo.h4"><b>@(L[MessageKeys.CraftingItems].Value)</b></MudText>
			<MudStack Row Style="height: 100%;" AlignItems="AlignItems.Center" Spacing="2" Class="pr-2">
				<MudTextField Onkeyup="SearchCraftingMaterials" Immediate @bind-Value="SearchCraftingMaterial" Placeholder="@(L[MessageKeys.Search].Value)" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" Style="width: 350px; background-color: var(--mud-palette-surface);" AdornmentIcon="@Icons.Material.Filled.Search" Adornment="Adornment.Start" />

				<MudMenu Icon="@Icons.Material.Filled.FilterList" Style="color: var(--mud-palette-textprimary)">

					@foreach (var name in Enum.GetNames(typeof(SkillSelector)))
					{
						<MudMenuItem OnClick="@(() => FilterCraftingMaterials(name))">@name</MudMenuItem>
					}

					<MudMenuItem OnClick="@(() => FilterCraftingMaterials("Miscellaneous"))">@(L[MessageKeys.Miscellaneous].Value)</MudMenuItem>

				</MudMenu>
				@if (string.IsNullOrEmpty(ModService.Mod.Id) == false)
				{
					<MudImage Src="@(ModService.Mod.ModItems.Count > 0 ? "/images/Icons/forgeicon2.png" : "/images/Icons/forgeicon.png")" Height="48" Style="cursor: pointer;" onclick="@(() => ToggleDrawer())" />
				}
			</MudStack>
		</MudStack>
	</MudItem>

	<MudItem md="9" Style="height: 90%; padding: 0px;">
		<div style="overflow-y: auto; height: 99%;">
			<MudGrid Spacing="2">

				@if (craftingMaterials is not null)
				{
					@foreach (var craftingMaterial in craftingMaterials)
					{
						<MudItem md="12" lg="12">
							<MudCard Class="mod-item-card" Style="@($"border-radius: 8px; {(SelectedModItem?.Id == craftingMaterial.Id ? "border-color: #df6f00; border-width: 3px;" : "")}")" Elevation="10" onclick="@(() => SelectModItem(craftingMaterial))">
								<MudTooltip Text="@(GetDescription(craftingMaterial))" Placement="Placement.Bottom" Arrow>
									<MudStack Spacing="0" Class="px-3 pt-3 pb-2">
										<MudText Class="pb-3" Typo="Typo.subtitle1" Style="font-weight: bold; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;">@(GetName(craftingMaterial))</MudText>

										<MudStack Row Justify="Justify.SpaceBetween">
											<MudText Typo="Typo.caption">@(L[MessageKeys.Skill].Value): @(GetSkillSelector(craftingMaterial))</MudText>
											<MudText Typo="Typo.caption">@(GetLevel(craftingMaterial))</MudText>
										</MudStack>
									</MudStack>
								</MudTooltip>
							</MudCard>
						</MudItem>
					}
				}

			</MudGrid>
		</div>
	</MudItem>

	<MudItem xs="3" Style="height: 90%; padding: 0px;" Class="px-2">
		<ModItemDetailsView SelectedModItem="@SelectedModItem" ConsoleCommand="@(SelectedModItem is null ? string.Empty : $"wh_cheat_addItem {SelectedModItem.Id}")" />
	</MudItem>

</MudGrid>
