@page "/editing/moditem/{Id}"

<MudGrid Style="height: 100vh; margin: 0px;" Spacing="0">
	<MudItem Style="padding: 0px; height: 100%; width: 100%;">
		<MudGrid Style="height: 100%; margin: 0px;" Spacing="0" Class="pr-2">
			<MudItem md="12" Style="height: 10%; width: 100%;">
				<MudStack Row Style="height: 100%; width: 100%;" AlignItems="AlignItems.Center" Class="px-2">
					<MudStack Spacing="0">
						<MudText>@($"{editingModItem.GetType().Name}")</MudText>
						<MudText Typo="Typo.h4" Class="header-primary"><b>@($"{LocalizationService.GetName(editingModItem)}")</b></MudText>
					</MudStack>
					@if (editingModItem is not null)
					{
						<MudImage Src="@IconService.GetIcon(editingModItem)" Style="height: 100%;" Class="pa-2" />
					}
					<MudSpacer />
						<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ResetModItem">@L[MessageKeys.ResetAll].Value</MudButton>
						<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SaveItem">@L[MessageKeys.Save].Value</MudButton>
				</MudStack>
			</MudItem>
			<MudItem md="12" Style="height: 90%; padding: 0px;">
				<div style="height: 100%; overflow-y:auto;">
					<MudStack Spacing="0">
						@foreach (var attribute in editingModItem.Attributes)
						{
							<AttributeSelector Attribute="attribute" ResetedValue="ResetAttributeValue" @key="attribute.Name"></AttributeSelector>
							<MudDivider />
						}
					</MudStack>
				</div>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>