<MudDialog Class="dialog-card">
	<DialogContent>
		<MudStepper CenterLabels="true" ShowResetButton StepStyle="height: 400px;">
			<MudStep Title="Select rule category">
				<MudGrid>
					<MudItem xs="4">
						<MudList T="OperationCategory" @bind-SelectedValue="SelectedCategory" SelectionMode="SelectionMode.SingleSelection">
							@foreach (var category in Storm.RuleCategories)
							{
								<MudListItem T="OperationCategory" Value="category.Value">
									<MudText><b>@category.Key.CapitalizeFirstLetterOnly()</b></MudText>
								</MudListItem>
							}
						</MudList>
					</MudItem>
					<MudItem xs="8">
						<MudStack style="height: 100%;">
							<MudText Typo="Typo.h6">Includes the following operations:</MudText>
							<div style="overflow-y: auto; max-height: 280px;">
								@if (SelectedCategory is not null)
								{
									foreach (var operationType in SelectedCategory.OperationTypes)
									{
										<MudStack Row Spacing="2">
											<MudText>@operationType</MudText>
											<MudTooltip Text="@($"Attributes: {(string.Join(", ", SelectedCategory.OperationAttributes.FirstOrDefault(x => x.Key == operationType).Value))}")">
												<MudIcon Size="Size.Small" Style="@($"visibility: {(SelectedCategory.OperationAttributes.FirstOrDefault(x => x.Key == operationType).Value.Count == 0 ? "hidden" : "visible")}")" Icon="@Icons.Material.Outlined.Info" />
											</MudTooltip>
										</MudStack>
									}
								}
							</div>
						</MudStack>
					</MudItem>
				</MudGrid>
			</MudStep>
			<MudStep Title="Add selectors">

				<MudStack Spacing="0">
					@if (Selectors is not null)
					{
						foreach (var selector in Selectors)
						{
							<RuleSelector Selector="selector" IsLast="@(Selectors.IndexOf(selector) == Selectors.Count - 1)" />
						}
					}

				</MudStack>
				@if (Selectors.Count == 0)
				{
					<MudMenu Style="width: 100%;">
						<ActivatorContent>
							<MudTooltip RootStyle="width: 100%;" Text="Add Selector">
								<MudButton FullWidth Variant="Variant.Outlined" Color="Color.Primary">
									<MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary" />
								</MudButton>
							</MudTooltip>
						</ActivatorContent>
						<ChildContent>
							<MudMenuItem OnClick="@(() => AddSelector("selector"))">Selector</MudMenuItem>
							<MudMenuItem OnClick="@(() => AddSelector("and"))">AND</MudMenuItem>
							<MudMenuItem OnClick="@(() => AddSelector("or"))">OR</MudMenuItem>
							<MudMenuItem OnClick="@(() => AddSelector("not"))">NOT</MudMenuItem>
						</ChildContent>
					</MudMenu>
				}
			</MudStep>
			<MudStep Title="Add operations">
				<MudText>@SelectedCategory.Name.CapitalizeFirstLetterOnly()</MudText>
			</MudStep>
		</MudStepper>
	</DialogContent>
	<DialogActions>
		<MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="Cancel">@CancelButton</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveAndExit">@SaveAndExitButton</MudButton>
	</DialogActions>
</MudDialog>