<MudDialog Class="dialog-card">
	<DialogContent>
		<MudStepper CenterLabels="true" ShowResetButton>
			<MudStep Title="Select rule category">
				<MudGrid>
					<MudItem xs="4">
						<MudList T="OperationCategory" @bind-SelectedValue="SelectedCategory" SelectionMode="SelectionMode.SingleSelection">
							@foreach (var category in Storm.RuleCategories)
							{
								<MudListItem T="OperationCategory" Value="category.Value">
									<MudText>@category.Key.CapitalizeFirstLetterOnly()</MudText>
								</MudListItem>
							}
						</MudList>
					</MudItem>
					<MudItem xs="8">
						<div style="overflow-y: auto; max-height: 330px;">
							@if (SelectedCategory is not null)
							{
								foreach (var operationType in SelectedCategory.OperationTypes)
								{
									<MudText>@operationType</MudText>
								}
							}
						</div>
					</MudItem>
				</MudGrid>
			</MudStep>
			<MudStep Title="Add selectors">
				<MudMenu Label="Select Selector">
					<MudMenuItem OnClick="@(() => AddSelector("and"))">AND</MudMenuItem>
					<MudMenuItem OnClick="@(() => AddSelector("or"))">OR</MudMenuItem>
					<MudMenuItem OnClick="@(() => AddSelector("not"))">NOT</MudMenuItem>
					<MudMenuItem OnClick="@(() => AddSelector("selector"))">Selector</MudMenuItem>
				</MudMenu>
				@if (Selectors is not null)
				{
					foreach (var selector in Selectors)
					{
						<SelectorComponent Selector="selector" />
					}
				}
			</MudStep>
			<MudStep Title="Add operations">
				<MudText>@SelectedCategory.Name.CapitalizeFirstLetterOnly()</MudText>
			</MudStep>
		</MudStepper>
	</DialogContent>
	<DialogActions>
		<MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="Cancel">@CancelButton</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveAndExit">@SaveAndExitButton</MudButton>
	</DialogActions>
</MudDialog>