<div class="button-widget" style="background: @Background" onclick="@ButtonClick">
	<MudStack Row AlignItems="AlignItems.Center" Spacing="2">
		<MudIcon Icon="@Icon" Style="color: var(--background);" Size="Size.Medium" />
		<MudText Typo="@Typo" Style="color: var(--background); font-weight: bold;">@Title.ToUpper()</MudText>
	</MudStack>
</div>