<MudGrid Style="height: 100%;" Class="pr-4" Spacing="0">

	<MudItem md="12" Style="height: 7%; width: 100%;" Class="pb-2">
		<MudStack Justify="Justify.SpaceBetween" Row Style="height: 100%; width: 100%;" AlignItems="AlignItems.Center">
			<MudText Class="header-primary pr-2" Typo="Typo.h6">Loadouts</MudText>
			<MudSpacer />
			<MudStack Row Style="height: 100%;" AlignItems="AlignItems.Center" Spacing="2">
				<MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="ClearLoadout">Clear Loadout</MudButton>
				<MudButton Color="Color.Primary" Variant="Variant.Filled" Style="color: var(--background)" OnClick="SetLoadout">Use Loadout</MudButton>
				<MudButton Color="Color.Primary" Variant="Variant.Filled" Style="color: var(--background)" OnClick="SaveLoadouts">Save Loadout</MudButton>
				<MudSelect @bind-Value="SelectedSavefile" MultiSelection="false" class="ma-0" Style="max-width: 200px; width: 200px;" FullWidth="false" Variant="Variant.Outlined" Margin="Margin.Dense" Placeholder="Select Loadout" Dense T="string">

					@foreach (var savefile in savefiles)
					{
						<MudSelectItem T="string" Value="savefile">@savefile</MudSelectItem>
					}

				</MudSelect>
			</MudStack>
		</MudStack>
	</MudItem>

	<MudItem md="12" Style="height: 93%; width: 100%;">
		<MudDropContainer T="DropItem" Items="mods" @ref=container ItemsSelector="@((mod, dropzone) => mod.Selector == dropzone)" ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1" Style="height: 100%;">
			<ChildContent>
				<MudGrid Style="height: 100%; max-height: 93dvh;" class="pb-2" Spacing="2">
					<MudItem md="4">
						<MudCard Style="height: 100%;" Class="mod-item-card">
							<MudCardHeader>
								<MudText Typo="Typo.subtitle1" Style="font-weight: bold; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;">Available Mods</MudText>
							</MudCardHeader>
							<MudList T="string" Class="d-flex flex-column mud-height-full">
								<MudDropZone T="DropItem" Identifier="1" Class="flex-grow-1" />
							</MudList>
						</MudCard>
					</MudItem>
					<MudItem md="4">
						<MudCard Style="height: 100%;" Class="mod-item-card">
							<MudCardHeader>
								<MudText Typo="Typo.subtitle1" Style="font-weight: bold; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;">Loadout</MudText>
							</MudCardHeader>
							<MudList T="string" Class="d-flex flex-column mud-height-full">
								<MudDropZone T="DropItem" Identifier="2" Class="flex-grow-1" />
							</MudList>
						</MudCard>
					</MudItem>
					<MudItem md="4" Style="height: 100%;">
						<MudCard Style="height: 100%; overflow-y: auto;" Class="mod-item-card">
							<MudCardHeader>
								<MudText Typo="Typo.subtitle1" Style="font-weight: bold; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;">Mod Effects</MudText>
							</MudCardHeader>

							@foreach (var buffParam in buffParams)
							{
								var mod = buffParamToMod.TryGetValue(buffParam, out var m) ? m : null;
								<MudStack Row Class="px-3 py-1" Style="@($"border-left: solid 4px {mod?.Color}")">
									<MudText>@buffParam.Key</MudText>
									<MudText>@buffParam.Operation</MudText>
									<MudText>@buffParam.Value</MudText>
									<div class="loadout-buff-param" style="@($"border-left: solid 4px {mod?.Color}")"></div>
								</MudStack>
							}

						</MudCard>
					</MudItem>
				</MudGrid>
			</ChildContent>
			<ItemRenderer>
                <MudListItem T="string" Class="loadout-mod-item">  
                    <LoadoutModItem @ref="loadoutModItem" Mod="context.Mod" />
                </MudListItem>
			</ItemRenderer>
		</MudDropContainer>


	</MudItem>


</MudGrid>