@page "/modinstall"

@if (isLoading)

{
	<div class="loading-screen" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
		<LoadingOverlay IsVisible="isLoading" />
	</div>
}

<MudGrid Style="margin: 0px;" Class="px-2" Spacing="0">

	<MudItem md="12" Style="width: 100%;" Class="pb-2">
		<MudStack Justify="Justify.SpaceBetween" Row Style="height: 100%; width: 100%;" AlignItems="AlignItems.Center">
			<MudText Class="header-primary pr-2" Typo="Typo.h6">@(L[MessageKeys.InstallMod].Value)</MudText>
			<MudSpacer />

			<MudButton OnClick="BackToDashboard" Color="Color.Error" Variant="Variant.Outlined" Style="width: 150px;">@(L[MessageKeys.Back].Value)</MudButton>

			<MudTooltip Text="@(L[MessageKeys.FilePickerInfo].Value)">
				<MudButton Color="Color.Primary"
						   OnClick="@OpenFilePickerAsync"
						   Variant="Variant.Filled">
					@(L[MessageKeys.OpenFilePicker].Value)
				</MudButton>
			</MudTooltip>

			<MudTooltip Text="@(L[MessageKeys.InstallModInfo].Value)">
				<MudButton Color="Color.Primary"
						   Disabled="@(!fileNames.Any())"
						   OnClick="@Upload"
						   Variant="Variant.Filled">
					@(L[MessageKeys.InstallMod].Value)
				</MudButton>
			</MudTooltip>

			<MudTooltip Text="@(L[MessageKeys.ClearInfo].Value)">
				<MudButton Color="Color.Error"
						   Disabled="@(!fileNames.Any())"
						   OnClick="@ClearAsync"
						   Variant="Variant.Filled">
					@(L[MessageKeys.Clear].Value)
				</MudButton>
			</MudTooltip>

		</MudStack>
	</MudItem>


	<MudItem md="12" Style="padding: 0px;">
		<MudStack Style="width: 100%" Spacing="0">
			<MudFileUpload T="IReadOnlyList<IBrowserFile>"
						   @ref="@fileUpload"
						   OnFilesChanged="OnInputFileChanged"
						   AppendMultipleFiles
						   Hidden="@false"
						   InputClass="absolute mud-width-full mud-height-full overflow-hidden z-10"
						   InputStyle="opacity:0"
						   tabindex="-1"
						   @ondrop="@ClearDragClass"
						   @ondragenter="@SetDragClass"
						   @ondragleave="@ClearDragClass"
						   @ondragend="@ClearDragClass">
				<ActivatorContent>
					<MudPaper Height="300px"
							  Class="@dragClass">
						<MudStack Style="height: 100%; width: 100%;" AlignItems="AlignItems.Center" Justify="Justify.Center">

							<MudText Typo="Typo.h6" Align="Align.Center">@(L[MessageKeys.FileUploadInfo1].Value)</MudText>
							<MudText Typo="Typo.subtitle2" Align="Align.Center">@(L[MessageKeys.FileUploadInfo2].Value)</MudText>

							@foreach (var file in fileNames)
							{
								<MudChip T="string"
										 Color="Color.Primary"
										 Text="@file"
										 tabindex="-1" />
							}
						</MudStack>
					</MudPaper>
				</ActivatorContent>
			</MudFileUpload>
		</MudStack>

	</MudItem>
</MudGrid>